
body
{
    background:#f0f0f0 ;
    font-family:verdana ;
    font-size:14px ;
}

textarea
{
    font-family:verdana ;
    font-size:14px ;
    width:100% ;
    height:300px ;
}

h1
{
    font-size:40px ;
    font-weight:100 ;
}

*
{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a
{
    display:inline-block ;
    color:white ;
    background:green ;
    padding:8px 20px ;
    text-decoration:none ;
    margin:20px ;
}

a:hover
{
  color:orange ;
}

